/* Bloque de evento */
.rbc-day-slot .rbc-event {
    border: none;
    outline: none;
    background-color: rgb(65, 148, 116);
}

/* Indicador de tiempo */
.rbc-current-time-indicator {
    background-color: red;
    height: 2px;
}

/* Horas */
.rbc-time-slot .rbc-label {
    color: slategray;
    font-size: 14px;
}

.rbc-allday-cell {
    display: none;
}

.rbc-time-content,
.rbc-time-header {
    min-width: 800px !important;
}

.rbc-time-view {
    overflow-y: scroll;
}